body {
    background-color:#fff;
}

#container {
    height: 820px;
    width: 920px;
    margin-left:auto;
    margin-right: auto;
    margin-top:;
    margin-bottom: 10px;
}

#container  .smallDiv {
    background-color: black;
    height:51.25px;
    width: 57.5px;
    box-sizing: border-box;
    float:left;
}

#settings {
    width: 920px;
    height: 100px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;

}

button {
    width:160px;
    height:30px;
    margin: 10px; auto;
    background:linear-gradient( 180deg, #4285f4, black 95%);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 10px;

}
