body {
    background-color:#e2e2e2;
}

/*#wrapper {
    width: 100%;
    min-width: 100px;
}*/

#container {
    height: 920px;
    width: 920px;
    margin-top: 40px;
    margin-left:150px;
   /* margin-right: 100px;*/
    margin-bottom: 0px;
    float:left;   
    display: inline-block;
    position: absolute;
}

#container  .smallDiv {
    background-color: black;
    height:51.25px;
    width: 57.5px;
    box-sizing: border-box;
    float:left;
}
#options {
    float:left;
    margin-top: 200px;
    margin-left: 20px;
    height: 300px;
    width: 300px;
    max-width: 300px;
    /*background-color: red;*/
    position:relative;
 }

#settings {
    width:100%;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 10;
    display: none;
}
.setting, .unpressed {
    width:95%;
    height:30px;
    margin: 10px; auto;
    background:linear-gradient( 180deg, #aaa, black 65%);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 10px;
    /*opacity: 0.9;*/
}
.setting:hover, .unpressed:hover {
    opacity: 1;
    background:linear-gradient( 0deg, #aaa, black 65%);
}

.pressed {
    background:linear-gradient( 0deg, #aaa, black 65%);
}


